// ----------------------------------------------------------------------
	// Font Sizes
// ----------------------------------------------------------------------
$regularFontSize: 14px;


// ----------------------------------------------------------------------
	// Font Families
// ----------------------------------------------------------------------
$vazir: Vazir, Tahoma, Arial, sans-serif;


// ----------------------------------------------------------------------
	// colors
// ----------------------------------------------------------------------
$primeryColor: #87bd25;
$regularFontColor: #3e3e3e;
$footerBackgroundColor: #3d3a33;
$footerColor: #646464;

//