// ----------------------------------------------------------------------
	// Font Sizes
// ----------------------------------------------------------------------
$regularSize: 14px;


// ----------------------------------------------------------------------
	// Font Families
// ----------------------------------------------------------------------
$helvetica: Georgia,Helvetica, Arial, sans-serif;


// ----------------------------------------------------------------------
	// colors
// ----------------------------------------------------------------------
$mainColor: #87bd25;