// ----------------------------------------------------------------------
	// Font Sizes
// ----------------------------------------------------------------------
$regularFontSize: 14px;


// ----------------------------------------------------------------------
	// Font Families
// ----------------------------------------------------------------------
$vazir: Vazir, Tahoma, Arial, sans-serif;


// ----------------------------------------------------------------------
	// colors
// ----------------------------------------------------------------------
$mainColor: #87bd25;